{$DOMAIN:localhost} {
    rate_limit {
        zone api_limit {
            key    {remote_host}
            events 30
            window 1m
        }
    }

    reverse_proxy api:8000 {
        lb_try_duration 10s
        lb_try_interval 250ms
    }
}
